# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node dependencies
node_modules
dist
dist-isolation

# Environment variables & API keys (Security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
